.logo{
	width: 750px;
	height: 240px;
	margin-right: auto;
	margin-left: auto;
}
.login-inicial{
	width: 480px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}
body{
	margin-top: auto;
	background-color: black;
}
.container{
	margin-top: 16px;
	background-color: white;
}
.cancelar{
	margin-right: 3px;	
}

.main_but{
	width: 250px;
	height: 120px;
	margin-bottom: 10px;
	/*display: table-cell;*/
}

.esq{
	margin-right: 10px;
}

#sair{
	background-color: #B40404;
}
